{% extends "layouts/base.twig" %}

{# add class vp-page-team to body classes for team page only #}
{% set body_class = body_class ~ " vp-page-team" %}

{# {% block pagebreadcrumbs %}
  {% import 'partials/breadcrumbs-page.twig' as bc %}
  {{ bc.breadcrumbs( 'team','team' ) }}
{% endblock %} #}

{% block content %}



  <div class="page-header">
    <div class="container">
{{ options.header_content }}
    </div>

    {# Inner menu #}
    <div class="page-inner-navigation">
      {% include "partials/inner-nav.twig" %}
    </div>
    
  </div>

  <div class="container">

    <div class="teaser-grid">
      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}
    </div>

  </div>

{% endblock %}
