<footer id="footer" class="site-footer screen-panel screen-footer vp-fp-section fp-auto-height-responsive">
  <div class="container">
    <div class="row d-flex align-items-start">

      {# <div class="col-12">

        {% include "partials/footer-menu.twig" %}

        <hr>

      </div> #}

      <div class="col-md-12 col-xl-4">
        {{ footer_widget_2 }}
      </div>

      <div class="col-md-12 col-xl-4">
        {# <h2>Ready to work with us?</h2>

        <a href="tel:919-848-2018" class="contact-info-link">919.848.2018</a>
        <a href="mailto:info@visionpointmarketing.com" class="contact-info-link">info@visionpointmarketing.com</a>

        <hr> #}

          <h3>Sign Up for our newsletter</h3>
          {{ footer_widget_1 }}

      </div>
      <div class="col-md-12 col-xl-4 pr-4">

        <h3>Connect With Us</h3>
        <div class="footer-social">
          <a target="_blank" href="https://www.facebook.com/VisionPointMarketing" aria-label="Follow us on Facebook"><i class="fab fa-facebook circle-icon" aria-hidden="true"></i></a>

          <a target="_blank" href="https://twitter.com/vispoint/" aria-label="Follow us on Twitter"><i class="fab fa-twitter circle-icon" aria-hidden="true"></i></a>

          <a target="_blank" href="https://instagram.com/visionpointmarketing/" aria-label="Follow us on Instagram"><i class="fab fa-instagram circle-icon" aria-hidden="true"></i></a>

          <a target="_blank" href="http://www.linkedin.com/company/visionpoint-marketing" aria-label="Connect with us on LinkedIn"><i class="fab fa-linkedin-in circle-icon" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>

    <div class="row footer-bottom">
      <div class="col-md-6 order-2 order-md-1">
        <p class="copyright">Copyright &copy; {{ "now"|date('Y') }} VisionPoint Marketing, LLC</p>
      </div>
      <div class="col-md-6 order-1 order-md-2 vp-text-align">
        <div class="footer-nav-additional">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="/contact-us" class="nav-link">Contact Us</a></li>
            <li class="list-inline-item"><a href="/privacy" class="nav-link">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</footer>
