<aside class="my-sidebar">
  <h3>This is our sidebar. Enjoy!</h3>
  {{dynamic_sidebar}}
</aside>

{# {% for post in related %}
    <h4><a href="{{post.get_path}}">{{post.post_title}}</a></h4>
{% endfor %} #}
