.form-control {
  height: 1.5rem;
}

form {
  input[type='email'] {
    border: solid 1px $vp-grybord;
    padding: $spacer * 0.5 $spacer;
    background-color: $vp-ltergray;
    width: 100%;
    &::placeholder {
      color: $vp-dkgray;
      font-size: rem(16, 16);
      opacity: 1;
    }
  }

  input[type='submit'],
  button {
    background-color: $vp-dkblue;
    border: 1px solid $vp-dkblue;
    border-radius: 30px;
    padding: $spacer * 0.5 $spacer;
    color: $white;
    font-family: $font-family-bold-sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 20px;
      padding-left: 5px;
    }
    &:focus,
    &:hover {
      background-color: $vp-ltnavy;
      border: 1px solid $vp-ltnavy;
    }
  }

  .wpcf7-not-valid-tip {
    font-family: $font-family-sans-serif;
  }
}

// CF-7 specific styles
div.wpcf7-mail-sent-ok,
div.wpcf7-response-output {
  border: none;
  padding: 0;
  margin: $spacer 0;
}
